@model IEnumerable<SeniorProjectECS.Models.Position>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PositionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PositionTitle)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PositionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PositionID })
            </td>
        </tr>
}
    </tbody>
</table>
