@model SeniorProjectECS.Models.Filter
@using SeniorProjectECS.Library
<script src="~/js/reportCreation.js" asp-append-version="true"></script>
<h4>Filter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ApplyFilter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FilterID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <div id="FirstNameList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.FirstName, "FirstName", "text")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addTextField('FirstName')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <div id="LastNameList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.LastName, "LastName", "text")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addTextField('LastName')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <div id="EmailList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.Email, "Email", "text")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addTextField('Email')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <div id="PositionList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.Position, "Position", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('Position')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="BeginDateOfHire" class="control-label"></label>
                <input asp-for="BeginDateOfHire" class="form-control" />
                <span asp-validation-for="BeginDateOfHire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDateOfHire" class="control-label"></label>
                <input asp-for="EndDateOfHire" class="form-control" />
                <span asp-validation-for="EndDateOfHire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Goal" /> @Html.DisplayNameFor(model => model.Goal)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="MidYear" /> @Html.DisplayNameFor(model => model.MidYear)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="EndYear" /> @Html.DisplayNameFor(model => model.EndYear)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="GoalMet" /> @Html.DisplayNameFor(model => model.GoalMet)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TAndAApp" /> @Html.DisplayNameFor(model => model.TAndAApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AppApp" /> @Html.DisplayNameFor(model => model.AppApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClassCompleted" /> @Html.DisplayNameFor(model => model.ClassCompleted)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ClassPaid" /> @Html.DisplayNameFor(model => model.ClassPaid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BeginRequiredHours" class="control-label"></label>
                <input asp-for="BeginRequiredHours" class="form-control" />
                <span asp-validation-for="BeginRequiredHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndRequiredHours" class="control-label"></label>
                <input asp-for="EndRequiredHours" class="form-control" />
                <span asp-validation-for="EndRequiredHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginHoursEarned" class="control-label"></label>
                <input asp-for="BeginHoursEarned" class="form-control" />
                <span asp-validation-for="BeginHoursEarned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndHoursEarned" class="control-label"></label>
                <input asp-for="EndHoursEarned" class="form-control" />
                <span asp-validation-for="EndHoursEarned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginTermDate" class="control-label"></label>
                <input asp-for="BeginTermDate" class="form-control" />
                <span asp-validation-for="BeginTermDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTermDate" class="control-label"></label>
                <input asp-for="EndTermDate" class="form-control" />
                <span asp-validation-for="EndTermDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertCompleted" class="control-label"></label>
                <div id="CertCompletedList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.CertCompleted, "CertCompleted", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('CertCompleted')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevel" class="control-label"></label>
                <div id="EducationLevelList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.EducationLevel, "EducationLevel", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('EducationLevel')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="EducationType" class="control-label"></label>
                <div id="EducationTypeList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.EducationType, "EducationType", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('EducationType')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="EducationDetail" class="control-label"></label>
                <div id="EducationDetailList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.EducationDetail, "EducationDetail", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('EducationDetail')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="CenterName" class="control-label"></label>
                <div id="CenterNameList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.CenterName, "CenterName", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('CenterName')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="CenterCounty" class="control-label"></label>
                <div id="CenterCountyList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.CenterCounty, "CenterCounty", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('CenterCounty')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="CenterRegion" class="control-label"></label>
                <div id="CenterRegionList">
                    @CustomHTMLHelpers.BuildEditFromArray(Model.CenterRegion, "CenterRegion", "select")
                </div>
                <button type="button" class="btn btn-default btn-primary" onclick="addSelectField('CenterRegion')">Add Another</button>
            </div>
            <div class="form-group">
                <label asp-for="BeginTimeUntilExpire" class="control-label"></label>
                <input asp-for="BeginTimeUntilExpire" class="form-control" />
                <span asp-validation-for="BeginTimeUntilExpire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeUntilExpire" class="control-label"></label>
                <input asp-for="EndTimeUntilExpire" class="form-control" />
                <span asp-validation-for="EndTimeUntilExpire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ShouldCheckPositionReq" /> @Html.DisplayNameFor(model => model.ShouldCheckPositionReq)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Apply Filter" class="btn btn-default btn-primary" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInactive" /> @Html.DisplayNameFor(model => model.IsInactive)
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
