<script src="~/js/site.js" asp-append-version="true"></script>
<link href="~/lib/bootstrap-toggle/css/bootstrap-toggle.css" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet">
<script src="~/lib/bootstrap-toggle/js/bootstrap-toggle.js"></script>
@model SeniorProjectECS.Models.StaffMember
<h1>StaffMember</h1>
<hr />
<div class="row">
    <div class="col-md-3, col-lg-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaffMemberID" class="form-control" />
            <div class="form-group">
                <h3>Basic Information</h3>
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" placeholder="Last Name" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" placeholder="user@ecs4kids.org" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfHire" class="control-label"></label>
                <input asp-for="DateOfHire" placeholder="Date Hired" class="form-control" />
                <span asp-validation-for="DateOfHire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Positions</label>
                @foreach (Position pos in Model.Positions)
                {
                    <div class="form-group">
                        @pos.PositionTitle
                        <button type="button" class="btn btn-danger" onclick="removePosition(url='@Url.Action("RemovePosition", "StaffMember", new { StaffMemberID = Model.StaffMemberID })',@pos.PositionID)">Remove</button>
                    </div>
                }
                @if(Model.Positions.Count == 0)
                {
                    <br />
                }
                <input type="button" class="btn btn-default" data-toggle="modal" data-target="#addNewPosition" value="Add New Position"/>
            </div>
            <span data-toggle="collapse" data-target="#DirCred">
                <input type="checkbox" data-toggle="toggle" data-on='Hide Director Credentials' data-width="300" data-off='Show Director Credentials' data-target="#CDA"><br><br />
            </span>
            <div id="DirCred" class="collapse">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="DirectorCredentials" /> @Html.DisplayNameFor(model => model.DirectorCredentials)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DCExpiration" class="control-label"></label>
                    <input asp-for="DCExpiration" class="form-control" />
                    <span asp-validation-for="DCExpiration" class="text-danger"></span>
                </div>
            </div>
            <span data-toggle="collapse" data-target="#CDA">
                <input type="checkbox" data-toggle="toggle" data-on="Hide CDA" data-width="300" data-off="Show CDA" data-target="#CDA"><br><br />
            </span>
            <button type="button" class="btn btn-default btn-danger" onclick="naCDA()">NA CDA Info</button><br /><br />
            <div id="CDA" class="collapse">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="CDAInProgress" /> @Html.DisplayNameFor(model => model.CDAInProgress)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CDAType" class="control-label"></label>
                    <input asp-for="CDAType" placeholder="CDA Type" class="form-control" />
                    <span asp-validation-for="CDAType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CDAExpiration" class="control-label"></label>
                    <input asp-for="CDAExpiration" class="form-control" />
                    <span asp-validation-for="CDAExpiration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CDARenewalProcess" class="control-label"></label>
                    <input asp-for="CDARenewalProcess" placeholder="CDA Renewal Process" class="form-control" />
                    <span asp-validation-for="CDARenewalProcess" class="text-danger"></span>
                </div>
            </div>
            <span data-toggle="collapse" data-target="#Goals">
                <input type="checkbox" data-toggle="toggle" data-on="Hide Goals" data-width="300" data-off="Show Goals" data-target="#Goals"><br><br />
            </span>
            <div id="Goals" class="collapse">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Goal" /> @Html.DisplayNameFor(model => model.Goal)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="MidYear" /> @Html.DisplayNameFor(model => model.MidYear)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="EndYear" /> @Html.DisplayNameFor(model => model.EndYear)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="GoalMet" /> @Html.DisplayNameFor(model => model.GoalMet)
                        </label>
                    </div>
                </div>
            </div>
            <span data-toggle="collapse" data-target="#TA">
                <input type="checkbox" data-toggle="toggle" data-on="Hide Tuition Assistance" data-width="300" data-off="Show Tuition Assistance" data-target="#TA"><br><br />
            </span>
            <div id="TA" class="collapse">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="TAndAApp" /> @Html.DisplayNameFor(model => model.TAndAApp)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AppApp" /> @Html.DisplayNameFor(model => model.AppApp)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ClassCompleted" /> @Html.DisplayNameFor(model => model.ClassCompleted)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ClassPaid" /> @Html.DisplayNameFor(model => model.ClassPaid)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TermDate" class="control-label"></label>
                    <input asp-for="TermDate" class="form-control" />
                    <span asp-validation-for="TermDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RequiredHours" class="control-label"></label>
                <input asp-for="RequiredHours" placeholder="0-40" class="form-control" />
                <span asp-validation-for="RequiredHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursEarned" class="control-label"></label>
                <input asp-for="HoursEarned" placeholder="0-40" class="form-control" />
                <span asp-validation-for="HoursEarned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" placeholder="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" placeholder="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedCerts" class="control-label"></label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Completion Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j=0; j<Model.CompletedCerts.Count; j++)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => model.CompletedCerts[j].Cert.CertName)</td>
                                <td>@Html.DisplayFor(model => model.CompletedCerts[j].DateCompleted)</td>
                                <td><input type="button" class="btn btn-danger" value="Remove" onclick="removeCertification(url='@Url.Action("RemoveCertification", "StaffMember", new { CertificationID = Model.CompletedCerts[j].Cert.CertificationID })', @Model.StaffMemberID)" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="button" class="btn btn-default" value="Add Completed Certification" data-toggle="modal" data-target="#addNewCompletedCert" />
            </div>
            <div class="form-group">
                <label asp-for="Center.Name" class="control-label"></label>
                <input class="form-control" value="@Model.Center.Name" type=text list=CenterName name="Center.Name" placeholder="Orange Park"><datalist id=CenterName name="Center.Name"></datalist>
                <span asp-validation-for="Center.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Center.County" class="control-label"></label>
                <input class="form-control" value="@Model.Center.County" type=text list=CenterCounty name="Center.County" placeholder="Clay"><datalist id=CenterCounty name="Center.County"></datalist>
                <span asp-validation-for="Center.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Center.Region" class="control-label"></label>
                <input class="form-control" value="@Model.Center.Region" type=text list=CenterRegion name="Center.Region" placeholder="1A"><datalist id=CenterRegion name="Center.Region"></datalist>
                <span asp-validation-for="Center.Region" class="text-danger"></span>
            </div>
            @{int i = 0;}
            @foreach (var edu in Model.Education)
            {
            <div>@Html.HiddenFor(model => model.Education[@i].EducationID)@Html.EditorFor(model => model.Education[@i].DegreeAbrv)@Html.EditorFor(model => model.Education[@i].DegreeLevel)@Html.EditorFor(model => model.Education[@i].DegreeType)@Html.EditorFor(model => model.Education[@i].DegreeDetail) <button type="button" class="btn btn-default btn-danger" onclick="removeEducation(url='@Url.Action("RemoveEducation", "StaffMember", new { StaffMemberID = Model.StaffMemberID })',@edu.EducationID)">Remove</button></div>
                i++;
            }

            <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#addNewEducation">Add New Education</button>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsInactive" /> @Html.DisplayNameFor(model => model.IsInactive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" onclick="validateUpdate()" value="Save" class="btn btn-default btn-primary" />
                <button type="button" class="btn btn-danger" onclick="validateDelete(url='@Url.Action("Delete", "StaffMember", new { id = Model.StaffMemberID })')">Delete</button>
            </div>
        </form>

        <!-- Begin Add new position modal -->
        <div id="addNewPosition" class="modal fade" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form asp-action="AddPosition">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewPositionTitle">Add new position</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="StaffMemberID" value="@Model.StaffMemberID" />
                            <div class="form-group">
                                <label class="control-label">Position Title</label>
                                <input class="form-control" type=text name="PositionTitle" placeholder="Lead Teacher" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Add new position modal -->

        <!-- Begin Add new education modal -->
        <div id="addNewEducation" class="modal fade" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form asp-action="AddEducation">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewEducationTitle">Add new education</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="StaffMemberID" value="@Model.StaffMemberID" />
                            <div class="form-group">

                                <label class="control-label">Degree Abbreviation ex. AA</label>
                                <input class="form-control" type=text list=degreeSelect name="DegreeAbbreviation" placeholder="AS"><datalist id=degreeSelect name="DegreeAbbreviation"></datalist>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Degree Level ex. Masters</label>
                                <input class="form-control" type=text list=degreeLevel name="DegreeLevel" placeholder="Associates"><datalist id=degreeLevel name="DegreeLevel"></datalist>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Degree Type ex. Education</label>
                                <input class="form-control" type=text list=degreeType name="DegreeType" placeholder="Education"><datalist id=degreeType name="DegreeType"></datalist>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Degree Detail ex. Early Childhood</label>
                                <input class="form-control" type=text list=degreeDetail name="DegreeDetail" placeholder="Early Childhood"><datalist id=degreeDetail name="DegreeDetail"></datalist>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End add new education modal -->

        <!-- Begin Add new required certification modal -->
        <div id="addNewCompletedCert" class="modal fade" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTile" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form asp-action="AddCompletedCert">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewCompletedCertTitle">Add new position</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="StaffMemberID" value="@Model.StaffMemberID" />
                            <div class="form-group">
                                <label class="control-label">Certification</label>
                                <select id="certSelect" name="CertificationID" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Date Completed</label>
                                <input type="date" id="DateCompleted" name="DateCompleted" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Add new required certification modal -->

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
