@model IEnumerable<SeniorProjectECS.Models.StaffMember>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StaffMemberID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfHire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DirectorCredentials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DCExpiration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDAInProgress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDAType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDAExpiration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDARenewalProcess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MidYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoalMet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TAndAApp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AppApp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassCompleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClassPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoursEarned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TermDate)
                </th>
                <th>
                    Center Name
                </th>
                <th>
                    Center County
                </th>
                <th>
                    Center Region
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeAbrv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeDetail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffMemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfHire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorCredentials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DCExpiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDAInProgress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDAType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDAExpiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDARenewalProcess)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MidYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalMet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAndAApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursEarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermDate)
            </td>
            <td>
                @item.Center.Name;
            </td>
            <td>
                @item.Center.County;
            </td>
            <td>
                @item.Center.Region;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeAbrv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeDetail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
