@model IEnumerable<StaffMember>
@using SeniorProjectECS.Library;

<table class="table table-hover">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Date of Hire</th>
        <th>Center</th>
        <th>CDA Type</th>
        <th>CDA Expiration</th>
    </tr>
@foreach (var staff in Model)
{
    // check if member is about to expire
    String rowFormat;
    if (!staff.CDAExpiration.Equals(Utilities.NullDate) && staff.CDAExpiration.Subtract(DateTime.Now).Days <= 30)
    {
        rowFormat = "danger";
    } else
    {
        rowFormat = "";
    }//end expiration check

    <tr class="@rowFormat">
        <td>@staff.FirstName</td>
        <td>@staff.LastName</td>
        <td>@staff.Email</td>
        <td>@staff.Position</td>
        <td>@staff.DateOfHire.ToShortDateString()</td>
        <td>@staff.Center.Name</td>

        <!-- do they have a cda? -->
        <td>@staff.CDAType</td>
        @if (!staff.CDAExpiration.Equals(Utilities.NullDate))
        {
        <td>@staff.CDAExpiration.ToShortDateString()</td>
        } else
        {
            <td></td>
        }<!-- end CDA check -->
    </tr>
}
</table>
