@model IEnumerable<StaffMember>
@using SeniorProjectECS.Library;

<!--Used to sort table with tablesorter script and css in layout -->
 <script type="text/javascript">
$(document).ready(function () {
    $("#myTable").tablesorter({ sortList: [[1, 0], [0, 0]] });
});
</script>

<link rel="stylesheet" href="~/css/legendstyling.css" />


<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8"></div>
    <div class="col-6 col-md-4">.</div>
</div>

<div class="col-2 col-md-2">
    <div class='my-legend'>
        <div class='legend-title'>Color Legend</div>
        <div class='legend-scale'>
            <ul class='legend-labels'>
                <li><span style='background:#FB8072;'></span>30 Days before CDA Expires</li>
                <li><span style='background:#FFFFB3;'></span>60 Days before CDA Expires</li>
                <li><span style='background:#80B1D3;'></span>90 Days before CDA Expires</li>
            </ul>
        </div>
        <div class='legend-source'><a href="StaffMember">Back to Top</a></div>
    </div>
</div>
<div class="col-12 col-md-10 container jumbotron jumbotron-fluid">

        <!--Session login here ex "Welcome sessionName" -->
    <!--Change Admin to be either admin or view only user based on who is logged in-->
        <h2>Admin Staff Management Panel</h2>
        
    <table class="col-12 col-md-10 col-sm-1 table table-hover table-bordered table-condensed tablesorter" id="myTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th><i class="glyphicon glyphicon-envelope"></i> Email</th>
                <th>Position</th>
                <th>Date of Hire</th>
                <th>Center</th>
                <th>CDA Type</th>
                <th>CDA Expiration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var staff in Model)
        {
            // Filter inactive staff members
            if (!staff.IsInactive)
            {
                // check if member is about to expire
                String rowFormat;
            if (staff.CDAExpiration?.Subtract(DateTime.Now).Days <= 30)
            {
                rowFormat = "danger";
            }
            else if (staff.CDAExpiration?.Subtract(DateTime.Now).Days <= 60)
            {
                rowFormat = "warning";
            }
            else if (staff.CDAExpiration?.Subtract(DateTime.Now).Days <= 90)
            {
                rowFormat = "info";
            }
            else
            {
                rowFormat = "";
            }//end expiration check

            <tr>
                <td>@Html.ActionLink(staff.FirstName, "Details", new { id = staff.StaffMemberID })</td>
                <td>@staff.LastName</td>
                <td>@staff.Email</td>
                <td>@staff.Position</td>
                <td>@staff.DateOfHire.Value.ToShortDateString()</td>
                <td>@staff.Center.Name</td>

                <td>@staff.CDAType</td>
                <td  class="@rowFormat">@staff.CDAExpiration?.ToShortDateString()</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = staff.StaffMemberID })</td>
            </tr>

            }
         }
        </tbody>
        </table>
    <div>@Html.ActionLink("Previous", "Index", new { page = ViewBag.PageNumber - 1 }) | @Html.ActionLink("Next", "Index", new { page = ViewBag.PageNumber + 1 })</div><br />
    <div class="container">
            <a class="btn btn-primary btn-default"@Html.ActionLink("Add New User", "Create", "StaffMember")</a> <a class="btn btn-primary btn-default"@Html.ActionLink("View Inactive Staff", "Inactive", "StaffMember")</a>
             <a class="btn btn-primary btn-default"@Html.ActionLink("Manage User Accounts", "Index", "User")</a>
    </div>
</div>


