@model IEnumerable<CDACompliance>
<a asp-controller="CDACompliance" asp-action="Index" asp-route-NumberOfDays="30">30 Days or Less</a>
<br />

<a asp-controller="CDACompliance" asp-action="Index" asp-route-NumberOfDays="60">60 Days or Less</a>
<br />
<a asp-controller="CDACompliance" asp-action="Index" asp-route-NumberOfDays="90">90 Days or Less</a>
<br/>

<table class="table table-hover">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Date of Expiration</th>
    </tr>
    @foreach (var cdaexpiration in Model)
    {
        <tr>
            <td><a asp-controller="StaffMember" asp-action="Details" asp-route-id="@cdaexpiration.StaffMemberID">@cdaexpiration.FirstName</a></td>
            <td>@cdaexpiration.LastName</td>
            <td>@cdaexpiration.Email</td>
            <td>@cdaexpiration.CDAExpiration</td>
            
        </tr>
    }
</table>
