@model IEnumerable<SeniorProjectECS.Models.StaffMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Center.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfHire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorCredentials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DCExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDAInProgress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDAType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDAExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDARenewalProcess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MidYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalMet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAndAApp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppApp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequiredHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursEarned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TermDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Center.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfHire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorCredentials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DCExpiration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDAInProgress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDAType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDAExpiration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDARenewalProcess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MidYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoalMet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAndAApp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppApp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequiredHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursEarned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StaffMemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StaffMemberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StaffMemberID })
        </td>
    </tr>
}

</table>
