@model Center

    <!--Used to sort table with tablesorter script and css in layout -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myTable").tablesorter({ sortList: [[1, 0], [0, 0]] });
        });
    </script>
   <div class="page-header">
        <h2>ECS Center Details</h2>
    </div>
    <h1>@Model.Name</h1>
    <h4>@Model.County</h4>
    <h4>@Model.Region</h4>
    <hr />
    <table class="table table-hover table-bordered table-condensed tablesorter" id="myTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position(s)</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var staff in Model.Staff)
        {
        <tr>
            <td>@Html.ActionLink(staff.FirstName, "Details", "StaffMember", new { id = staff.StaffMemberID })</td>
            <td>@staff.LastName</td>
            <td>@foreach (Position pos in staff.Positions) { @pos.PositionTitle }</td>
        </tr>
         }
        </tbody>
    </table>
    