@model Center

<h1>@Model.Name</h1>
<h4>@Model.County</h4>
<h4>@Model.Region</h4>
<hr />
<table class="table table-hover">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
@foreach(var staff in Model.Staff)
{
    <tr>
        <td>@Html.ActionLink(staff.FirstName,"Details", "StaffMember", new { id=staff.StaffMemberID })</td>
        <td>@staff.LastName</td>
    </tr>

}
</table>