@model IEnumerable<Center>
<!--Used to sort table with tablesorter script and css in layout -->
<div class="row">
    <img src="~/images/ecslogo.png" class="img-responsive" align="left" style="width: 165px; height: 55px" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable").tablesorter({ sortList: [[0, 0], [1, 0]] });
    });
</script>
<div class="page-header">
    <h2>ECS Centers</h2>
</div>
<table class="table table-hover table-bordered table-condensed tablesorter" id="myTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>County</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var center in Model)
        {
            <tr>
                <td>@Html.ActionLink(center.Name, "Details", new { id = center.CenterID })</td>
                <td>@center.County</td>
                <td>@center.Region</td>
            </tr>
        }
    </tbody>
</table>
<div AdminOnly class="container">
    <a class="btn btn-primary btn-default" @Html.ActionLink("Create New Center", "Create", "Center")</a>
    <a class="btn btn-primary btn-default" @Html.ActionLink("Delete Unused Center", "CleanCenters", "Center")</a>
</div>
