@model IEnumberable<StaffMember>

<table>
    @foreach(var staff in Model)
    {
        <tr>
            <td>@staff.FirstName</td>
            <td>@staff.LastName</td>
            <td>@staff.Email</td>
            <td>@staff.DateOfHire</td>
            <td>@staff.Center.Name</td>
        </tr>
    }
</table>
