
<script>
    $(function () {
        $('.annualReset').click(function () {
            return window.confirm("You are about to reset EVERYONES goals and training hours. Are you sure?");
        });
    });
</script>
<div class="page-header">
    <h2>Maintenance Dashboard</h2>
</div>
<a class="btn btn-primary btn-default" @Html.ActionLink("Edit Positions", "Index", "Position")</a>
<a class="btn btn-primary btn-default" @Html.ActionLink("Edit Certs", "Index", "Cert")</a>
<a class="btn btn-primary btn-default annualReset"  @Html.ActionLink("Annual Reset", "AnnualReset", "Maintenance")</a>
<a class="btn btn-primary btn-default" @Html.ActionLink("Delete Unused Educations", "CleanEducation", "Maintenance")</a>
<a class="btn btn-primary btn-default" @Html.ActionLink("Add Default Items ", "SeedDatabase", "Maintenance")</a>
