@model IEnumerable<SeniorProjectECS.Models.Certification>
<script>
     $(document).ready(function () {
     $("#myTable").DataTable();
    });
</script>
<div class="page-header">
    <h2>Certification List</h2>
</div>

<table class="table table-hover table-bordered table-condensed tablesorter" id="myTable">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CertificationID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CertName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CertExpireAmount)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CertificationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertExpireAmount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CertificationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CertificationID })|
                <span class="deleteValidate"> @Html.ActionLink("Delete", "Delete", new { id = item.CertificationID })</span>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-primary btn-default" @Html.ActionLink("Create New Certification", "Create", "Cert")</a>
<a class="btn btn-primary btn-default" @Html.ActionLink("Edit Positions", "Index", "Position")</a>
<a class="btn btn-primary btn-default" @Html.ActionLink("Add Default Items ", "SeedDatabase", "Maintenance")</a>